//- vars
- var s3_path = "http://dev.thesecretlocation.com/OPEN/videoShareFrame/_s3/"

doctype 5
html
	head
		title Video Share
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')
		link(rel="stylesheet", href='css/main.css', type='text/css')

	body
		#fb-root

		//- content
		.wrapper

			article#detroit
				hgroup
					h1 Detroit
				.video-c
					video(
						data-imgpath=s3_path+"img/pigeon/",
						id="detroit-video",
						autoplay,
						src=s3_path+"vid/pigeon/pigeon_desktop.mp4")
					.video-controls
						.seek
							.seek-head
							.seek-hover

		//- scripts
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		script(src="js/app.js")