// compass
@import 'compass';
@import 'compass/reset';

// vars
$media-tablet: 768px;

$color-purple: #641490;

$seek-height: 10px;
$seekhover-borderWidth: 2px;
$seekhover-width: 90px;
$seekhover-height: 51px;
$seekhover-arrowWidth: 10px;

// base
body {
	font-family: "Helvetica";
	background: #eee;
}
.wrapper {
	max-width: 1280px;
	width: 100%;
	margin: 30px auto;
}
article {
	position: relative;
	width: 46%;
	display: inline-block;
	margin: 2%;
	@media (max-width: $media-tablet) {
		width: 96%;
	}
}

hgroup {
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	padding-bottom: 5px;
	margin-bottom: 5px;
	h1 {
		float: left;
		padding-top: 5px;
		color: $color-purple;
		font-size: 18px;
	}
	.video-social {
		float: right;
		button {
			border: 0;
			background: rgba(0,0,0,0.4);
			cursor: pointer;
			color: white;
			width: 25px;
			height: 25px;
			margin: 0 3px;
			font-size: 12px;
			border-radius: 25px;
			&:hover {
				background: rgba(100,20,144,0.7);
			}
			&:focus, &:active, &:visited {
				border: none;
				outline: none;
			}
		}
	}
}
.video-c {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	iframe, video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.video-controls {
	z-index: 9999;
	position: absolute;
	left: 0;
	bottom: 0;
	height: $seek-height;
	width: 100%;
	.seek {
		background: rgba(100,20,144,0.65);
		height: $seek-height;
		position: relative;
		.seek-head {
			position: absolute;
			height: $seek-height;
			background: rgba(100,20,144,1);
		}
		.seek-hover {
			border: $seekhover-borderWidth solid $color-purple;
			width: $seekhover-width;
			height: $seekhover-height;
			position: absolute;
			bottom: ($seek-height+$seekhover-arrowWidth);
			background-size: 100%;
			margin-left: - ($seekhover-width/2);
			&:after {
				content: "";
				position: absolute;
				width: 0; 
				height: 0;
				bottom: - ($seekhover-arrowWidth);
				border-left: $seekhover-arrowWidth solid transparent;
				border-right: $seekhover-arrowWidth solid transparent;
				border-top: $seekhover-arrowWidth solid $color-purple;
				left: ($seekhover-width/2) - $seekhover-arrowWidth;
			}
		}
	}
}